.label {
  font-family: var(--font-body), sans-serif;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-body);
  color: var(--text-secondary);
  vertical-align: center;
  background-color: var(--surface);
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  pointer-events: none;
  transition: height 0.2s ease-in-out;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.propsChildren {
  display: none;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:first-child {
    display: block;
  }
}
